.container {
  display: flex;
  padding: 0 2%;
  flex-wrap: wrap;
  justify-content: spece-between;
  background-color: #f1f3f5;
}

.image {
  object-fit: cover;
  vertical-align: bottom;
  height: 150px;
  margin: 2px;
  flex-grow: 1;
}
